# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Environment / Secrets
# =========================
.env
.env.*
!.env.example

# =========================
# Logs
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# =========================
# Build files
# =========================
dist/
build/
coverage/

# =========================
# Temporary files
# =========================
tmp/
temp/

# =========================
# Uploads
# =========================
uploads/

# =========================
# Editor files
# =========================
.vscode/
.idea/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Admin creation scripts
# =========================
server/src/scripts/
